###  Data Loading & Inspection

#### Import Relevant Libraries

In [3]:
# Data analysis tools
import pandas as pd
import numpy as np
# Visualization tools
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Load the dataset 
sales_df = pd.read_csv("sales_data.csv")
# View a random sample of 7 records from the df
sales_df.sample(7)

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
399,1023,2023-09-03,David,South,4285.01,32,Electronics,4775.04,4785.66,New,0.03,Cash,Online,South-David
236,1032,2023-11-09,Bob,East,804.47,25,Electronics,2934.30,3337.40,Returning,0.25,Credit Card,Retail,East-Bob
668,1027,2023-07-14,Bob,South,6650.67,22,Food,3240.20,3606.09,New,0.07,Cash,Online,South-Bob
995,1010,2023-04-15,Charlie,North,4733.88,4,Food,4943.03,5442.15,Returning,0.29,Cash,Online,North-Charlie
703,1061,2023-10-16,Eve,East,2227.64,37,Furniture,4651.77,4984.39,Returning,0.12,Cash,Retail,East-Eve
87,1095,2023-11-25,Alice,East,9432.97,37,Electronics,407.77,860.95,New,0.10,Credit Card,Retail,East-Alice
464,1099,2023-06-01,Alice,South,2496.02,2,Electronics,2038.40,2073.32,New,0.16,Cash,Retail,South-Alice

In [10]:
# Confirm the column names from the column attribute
sales_df.columns

Index(['Product_ID', 'Sale_Date', 'Sales_Rep', 'Region', 'Sales_Amount',
       'Quantity_Sold', 'Product_Category', 'Unit_Cost', 'Unit_Price',
       'Customer_Type', 'Discount', 'Payment_Method', 'Sales_Channel',
       'Region_and_Sales_Rep'],
      dtype='object')

In [11]:
# Check the shape of the dataframe attribute
sales_df.shape
# Our df has 1000 rows and 14 columns in total

(1000, 14)

In [12]:
# Inspect the information of the df
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

**Summary Findings**

1. Our dataset comprises of 4 floats, 2 integers and 8 objects.

2. We do not have any null values as all the counts sum to 1000

In [13]:
# Confirm the descriptive columns
sales_df.describe()

,Product_ID,Sales_Amount,Quantity_Sold,Unit_Cost,Unit_Price,Discount
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,1050.128000,5019.265230,25.355000,2475.304550,2728.440120,0.15239
std,29.573505,2846.790126,14.159006,1417.872546,1419.399839,0.08720
min,1001.000000,100.120000,1.000000,60.280000,167.120000,0.00000
25%,1024.000000,2550.297500,13.000000,1238.380000,1509.085000,0.08000
50%,1051.000000,5019.300000,25.000000,2467.235000,2696.400000,0.15000
75%,1075.000000,7507.445000,38.000000,3702.865000,3957.970000,0.23000
max,1100.000000,9989.040000,49.000000,4995.300000,5442.150000,0.30000

**Summary Findings**

1. Based on the mean, quartile and max statistical data we do not detect any outliers however we shall proceed to confirm this assumption during data cleaning.